<!DOCTYPE html>
<html>
   <head>
      <title>Jaedolph Desk Tracker</title>
      <link rel="shortcut icon" href="#">
   </head>
   <script src="{{url_for('static', filename='socket.io.js')}}"></script>

   <script>
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('height_display', function(data){
        datastring = data.height + "cm"
        document.getElementById("height").innerHTML = datastring;
      });
   </script>
   <body>!desk <span id="height"></span></body>
</html>
